In [4]:
scores = [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 333]
maximum_score =max(scores)
print("maximum_scores:", maximum_score)

scores = [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 333]
maximum_score =max(scores)
print("maximum_score",  maximum_score)
manimum_score= min(scores)
print("mmanimum score", manimum_score)

maximum_scores: 333
maximum_score 333
mmanimum score 29

In [7]:
scores = [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 65]
print("originil  scores:", scores)

scores[2]= 66
print("updating scores:", scores)
scores = [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 65,32,23,41]
print("originil scores :", scores)
scores[2]=999
print("updateing score :", scores)

originil  scores: [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 65]
updating scores: [32, 54, 66, 29, 35, 80, 95, 44.5, 100, 65]
originil scores : [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 65, 32, 23, 41]
updateing score : [32, 54, 999, 29, 35, 80, 95, 44.5, 100, 65, 32, 23, 41]

In [12]:
temperatures = [32, 33.5, 30, 31.5, 34, 35,36,37]
for tem in temperatures:
    if tem >32:
        print(tem)

temperatures=[33,22,44,33.4,11,55]
for tem in temperatures:
    if tem > 33:
        print(tem)
temperatures = [32, 33.5, 30, 31.5, 66,34, 35]
for tem in temperatures:
    if tem >=32:
        print(tem)
temperatures = [32, 33.5, 30, 31.5, 66,34, 35]
total_temperatures=sum(temperatures)
average_temperatures=total_temperatures /len(temperatures)
print("average temperatures :", average_temperatures)

33.5
34
35
36
37
44
33.4
55
32
33.5
66
34
35
average temperatures : 37.42857142857143

In [46]:
names = ["Allen", "Baker", "Charlie", "Dennis", "Elmo", "Fido", "Gabriel"]
sublist_names = names[1:4]
print("sublist_names:", sublist_names)

sublist_names: ['Baker', 'Charlie', 'Dennis']

In [38]:
scores = [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 333]
thrid_score = scores[3]
print("thrid_score:", thrid_score)

thrid_score: 29

In [30]:
temperatures = [32, 33.5, 30, 31.5, 34, 35]
print(temperatures)

temperatures = [32, 33.5, 30, 31.5, 34, 35]
total_temperatures = sum(temperatures)
average_temperatures = total_temperatures / len(temperatures)
print("average_temperatures :", average_temperatures)

temperatures =[33,44.4,22,11.5,45]
print(temperatures)

temperatures =[33,44.4,22,11.5,45]
total_temperatures =sum(temperatures)
average_temperatures = total_temperatures /len(temperatures)
print("average_temperatures:", (average_temperatures))

[32, 33.5, 30, 31.5, 34, 35]
average_temperatures : 32.666666666666664
[33, 44.4, 22, 11.5, 45]
average_temperatures: 31.18

In [13]:
my_list = [1,2,3,4,5,]
print(len(my_list))
print("length 0f my list :",len(my_list))
print("length of my list :", (my_list))

fruits = ["apple", "banana", "cherry", "date"]
# fruits[0]='mango'
# fruits.append('mango')
fruits.insert(0,"mango")
print(fruits)
print("length of my list:", (fruits))
print("length of my list:",len(fruits))

5
length 0f my list : 5
length of my list : [1, 2, 3, 4, 5]
['mango', 'apple', 'banana', 'cherry', 'date']
length of my list: ['mango', 'apple', 'banana', 'cherry', 'date']
length of my list: 5

In [12]:
scores = [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 65]
print(scores)

scores = [32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 65]
for score in scores:
    print(score)

[32, 54, 67.5, 29, 35, 80, 95, 44.5, 100, 65]
32
54
67.5
29
35
80
95
44.5
100
65

In [10]:
subjedct="english"
topci="learning"
fromatted_topci=(subjedct+"  "+topci).upper()
print(f"fromatted topci: {fromatted_topci}")

fromatted topci: ENGLISH  LEARNING

subject="

In [8]:
universtity_name="karachi_unversiry"
upper_name=universtity_name.upper()
lower_name=universtity_name.lower()
print(f"my best unversity:  {upper_name}\nmy best unversity:  {lower_name}")

my best unversity:  KARACHI_UNVERSIRY
my best unversity:  karachi_unversiry

In [5]:
name="john simth"
print(name.upper())

name="john simth"
upper_name= name.upper()
print(upper_name)

name="john simth"
upper_name=name.lower()
print(upper_name)

JOHN SIMTH
JOHN SIMTH
john simth

In [2]:
deta_string ="2024-07-07"
year= deta_string[:4]
month=deta_string[5:7]
day=deta_string[8:]
print(f"year: {year}\nmonth: {month}\nday: {day}")

deta_string="2023-03-09"
year=deta_string[:4]
month=deta_string[5:7]
day=deta_string[8:]
print(f"year: {year}\nmonth{month}\nday:[day]")

year: 2024
month: 07
day: 07
year: 2023
month03
day:[day]