# Dictionary with initial values

In [5]:
person = {'name': 'musa', 'age': 24,  'city': 'lahore'}
print(person)

person = {'name': 'musa', 'age': 24,  'city': 'lahore'}
print(person['age'])


person ['role'] = "student"
print(person)


del person['age']
print( person)

{'name': 'musa', 'age': 24, 'city': 'lahore'}
24
{'name': 'musa', 'age': 24, 'city': 'lahore', 'role': 'student'}
{'name': 'musa', 'city': 'lahore', 'role': 'student'}

In [9]:
person = {'name':'salman', 'age': 24, 'city':'kpk', 'thsil':'jadoon'}
print(person)

person = {'name':'salman', 'age': 24, 'city':'kpk', 'thsil':'jadoon'}
print(person['thsil'])

person ['Role'] = "student of jamia asharifa lahore "
print(person)

del person ['thsil']
print(person)

{'name': 'salman', 'age': 24, 'city': 'kpk', 'thsil': 'jadoon'}
jadoon
{'name': 'salman', 'age': 24, 'city': 'kpk', 'thsil': 'jadoon', 'Role': 'student of jamia asharifa lahore '}
{'name': 'salman', 'age': 24, 'city': 'kpk', 'Role': 'student of jamia asharifa lahore '}

In [13]:
person = {'name':'salman', 'age': 24, 'city':'kpk', 'thsil':'jadoon',  'my friend': 'amin'}
print(person)

person = {'name':'salman', 'age': 24, 'city':'kpk', 'thsil':'jadoon',  'my friend': 'amin'}
print(person['my friend'])

person ['Role'] = "student of jamia asharifa lahore "
print(person)

del person['age']
print(person)

{'name': 'salman', 'age': 24, 'city': 'kpk', 'thsil': 'jadoon', 'my friend': 'amin'}
amin
{'name': 'salman', 'age': 24, 'city': 'kpk', 'thsil': 'jadoon', 'my friend': 'amin', 'Role': 'student of jamia asharifa lahore '}
{'name': 'salman', 'city': 'kpk', 'thsil': 'jadoon', 'my friend': 'amin', 'Role': 'student of jamia asharifa lahore '}

In [20]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
print(alien_0['color'])
print(alien_0['points'])
# del alien_0['color']
# print(alien_0)


alien_0['mykey'] = "new vlue "
print(alien_0)

alien_0['x_position'] =10
alien_0['y_position'] =35
print(alien_0)

{'color': 'green', 'points': 5}
green
5
{'color': 'green', 'points': 5, 'mykey': 'new vlue '}
{'color': 'green', 'points': 5, 'mykey': 'new vlue ', 'x_position': 10, 'y_position': 35}

### Adding more attributes

In [3]:
alien_0  ={'x_position': 33,'y_position':55, 'speed':'slow'}
print(f"Original position:  {alien_0['speed']}")
print(f"original position:  {alien_0}")

Original position:  slow
original position:  {'x_position': 33, 'y_position': 55, 'speed': 'slow'}

In [5]:
favorite_languages = {
      'jen': ['python', 'rust'],
      'sarah': ['c'],
      'edward': ['rust', 'go'],
      'phil': ['python', 'haskell'],
      }

for name, languages in favorite_languages.items():
    print(f"\n{name.title()}'s favorite languages are:")
    for language in languages:
        print(f"\t{language.title()}")

Jen's favorite languages are:
	Python
	Rust

Sarah's favorite languages are:
	C

Edward's favorite languages are:
	Rust
	Go

Phil's favorite languages are:
	Python
	Haskell

In [4]:

favorite_languages = {
    'jen': ['pyton', 'rust'],
    'sarah': ['s'],
     'edwaard': ['rust','go'],
    'phil': ['pyton', 'jaskell'],
}
for name, languages in favorite_languages.items():
    print(f"\n{name.upper()} my favorite languages are :")
    for language in languages:
        print(f"\t{language.title()}")

JEN my favorite languages are :
	Pyton
	Rust

SARAH my favorite languages are :
	S

EDWAARD my favorite languages are :
	Rust
	Go

PHIL my favorite languages are :
	Pyton
	Jaskell

In [15]:
users = {
    'aeinstein':{
        'first': "jawad",
        'last': "khan",
        'location': "lahore"
    },
    'mcurie':{
        'first':'marie',
        'last': 'curie',
        'location': 'parice',
    },

}
for name ,user_info in users.items():
    print(f"\nname: {name}")
    full_name= f"{user_info['first']} {user_info['last']}"
    location = user_info['location']

    print(f"\tfull name : {full_name.upper()}")
    print(f"\tLocation : {location.title()}")

name: aeinstein
	full name : JAWAD KHAN
	Location : Lahore

name: mcurie
	full name : MARIE CURIE
	Location : Parice