In [4]:
# Dictionary with initial values
student = {'name':'salman', 'age':24, 'thsil':'topi',  'dist':'swabi'}
print(student)
print(student['dist'])

student['villge']="malik abad"
print(student)

del student['villge']
print(student)

student = {'name':'jawad khan', 'age':24, 'thsil':'topi',  'dist':'swabi'}
print(student)
print(student['dist'])
student['villge']="malik abad"
print(student)
del student['villge']
print(student)

{'name': 'salman', 'age': 24, 'thsil': 'topi', 'dist': 'swabi'}
swabi
{'name': 'salman', 'age': 24, 'thsil': 'topi', 'dist': 'swabi', 'villge': 'malik abad'}
{'name': 'salman', 'age': 24, 'thsil': 'topi', 'dist': 'swabi'}
{'name': 'jawad khan', 'age': 24, 'thsil': 'topi', 'dist': 'swabi'}
swabi
{'name': 'jawad khan', 'age': 24, 'thsil': 'topi', 'dist': 'swabi', 'villge': 'malik abad'}
{'name': 'jawad khan', 'age': 24, 'thsil': 'topi', 'dist': 'swabi'}

In [7]:
items = {'color 1':'blak', 'color 2':'blue', 'color 3':'green', 'color 4':'red'}
print(items)
print(items['color 4'])

items['points']= 4
print(items)

del items['points']
print(items)

{'color 1': 'blak', 'color 2': 'blue', 'color 3': 'green', 'color 4': 'red'}
red
{'color 1': 'blak', 'color 2': 'blue', 'color 3': 'green', 'color 4': 'red', 'points': 4}
{'color 1': 'blak', 'color 2': 'blue', 'color 3': 'green', 'color 4': 'red'}

In [8]:
user_0 = {
    'uaername':'efermi',
    'firsst':'salman',
    'last':'khan',
}
for key, value in user_0.items():
    print(f"\nkey: {key}")
    print(f"key: {value}")

key: uaername
key: efermi

key: firsst
key: salman

key: last
key: khan

In [7]:
school  = {
    'class 6':'students 56',
    'class 7':'students 44',
    'class 8':'students 33',
}
for name, value in school.items():
    print(f"\nname|: {name}")
    print(f"name: {value}")

school={
    'class 5': 'students 55',
    'class 6': 'students 44',
    'class 7': 'students 33',
}
for name,value in school.items():
    print(f"\nname : {name}")
    print(f"name : {value}")

    school_2 ={
        'class 7':'computer',
        'class 8':'math',
        'class 4':'urdu',
    }
    for name, value in school_2.items():
        print(f"\nname : {name}")
        print(f"name : {value}")

name|: class 6
name: students 56

name|: class 7
name: students 44

name|: class 8
name: students 33

name : class 5
name : students 55

name : class 7
name : computer

name : class 8
name : math

name : class 4
name : urdu

name : class 6
name : students 44

name : class 7
name : computer

name : class 8
name : math

name : class 4
name : urdu

name : class 7
name : students 33

name : class 7
name : computer

name : class 8
name : math

name : class 4
name : urdu

In [15]:
ibn_e_umer ={
     'class 6':['passed 50','failed 6'],
     'class 7':['passed 40','failed 4'],
     'class 8':['passed 29','failed 4'],
 }
for name,values in ibn_e_umer.items():
     print(f"\n{name} ibn_e_umer")
     for value in values:
         print(f"\t{value}")

student={
    'name':['muhammad', 'jawad'],
    'name':['amin', 'allih'],
    'name':['salman khan', 'jadoon'],
}
for name,values in student.items():
    print(f"\n{name} student")
    for value in values:
        print(f"\t{value}")

class 6 ibn_e_umer
	passed 50
	failed 6

class 7 ibn_e_umer
	passed 40
	failed 4

class 8 ibn_e_umer
	passed 29
	failed 4

name student
	salman khan
	jadoon